.about {
  padding-top: 60px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 37px;
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding-top: 24px;
  }
}

.about__content {
  position: relative;

  min-height: 300px;
  padding-left: 250px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 150px;
    height: 320px;

    background-image: url("../img/about.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @supports (background-image: image-set(url("../img/about.webp") 1x)) {
      background-image: image-set(url("../img/about.webp") 1x);
    }

    @include retina {
      background-image: url("../img/about@2x.jpg");

      @supports (background-image: image-set(url("../img/about@2x.webp") 2x)) {
        background-image: image-set(url("../img/about@2x.webp") 2x);
      }
    }

    @include vp-1023 {
      top: 6px;
      left: -3px;
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1023 {
    padding-left: 176px;
  }

  @include vp-767 {
    padding-left: 0;
  }
}

.about__content .about__info h2 {
  margin: 0;
  margin-bottom: 12px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-black-pearl;

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
  }
}

.about__info {
  overflow: hidden;
  max-height: 234px;
  margin-bottom: 20px;

  transition: max-height $tf-default 0.7s;

  @include vp-1023 {
    max-height: 320px;
    margin-bottom: 20px;
  }

  @include vp-767 {
    max-height: 255px;
    margin-bottom: 17px;
  }
}

.about__info.is-open {
  max-height: 1000px;
}

.about__info p {
  margin: 0;
  margin-bottom: 20px;

  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  color: $color-black-pearl;

  &:last-child {
    margin-bottom: 0;
  }

  @include vp-1023 {
    margin-bottom: 19px;
  }

  @include vp-767 {
    margin-bottom: 18px;

    font-size: 14px;
    line-height: 19px;
  }
}

.about__content button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  min-height: 45px;
  margin: 0;
  padding: 14px 12px 15px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-deep-sky-blue;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  background: transparent;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;

  user-select: none;

  cursor: pointer;

  transition: $trans-default;

  &:hover,
  &:focus {
    color: $color-alice-blue-2;

    background: $color-deep-sky-blue;
  }

  &:active {
    color: $color-alice-blue-2-70;
  }

  @include vp-1023 {
    padding: 14px 12px;
  }

  @include vp-767 {
    width: 160px;
    min-height: 35px;
    padding: 8px 15px 9px;
  }
}
