.callback-form__title {
  margin: 0;
  margin-bottom: 11px;
  margin-left: -5px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 6px;
    margin-left: 1px;
  }

  @include vp-767 {
    margin-bottom: 8px;
    margin-left: 0;

    font-size: 30px;
    line-height: 42px;
  }
}

.callback-form__description {
  margin: 0;
  margin-bottom: 35px;

  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 25px;
  }

  @include vp-767 {
    margin-bottom: 33px;

    font-size: 14px;
    line-height: 19px;
  }
}

.callback-form__content {
  padding-right: 10px;

  @include vp-1023 {
    padding-right: 0;
  }
}

.callback-form__group--1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  margin-bottom: 20px;

  @include vp-767 {
    grid-template-columns: auto;
    row-gap: 20px;
  }
}

.callback-form__group--2 {
  display: flex;
  align-items: flex-end;

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.callback-form__field input {
  width: 100%;
  min-height: 50px;
  padding: 14px 15px;

  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  background-color: $color-black-pearl-2-15;
  border: none;
  border-radius: 3px;

  &::placeholder {
    color: inherit;
  }
}

.callback-form__textarea {
  margin-bottom: 36px;

  @include vp-1023 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}

.callback-form__textarea textarea {
  display: block;
  width: 100%;
  min-height: 155px;
  padding: 24px 15px;

  font-family: "PT Mono", "Courier New", monospace;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  background-color: $color-black-pearl-2-15;
  border: none;
  border-radius: 3px;

  &::placeholder {
    color: inherit;
  }

  @include vp-1023 {
    padding: 30px 15px;
  }

  @include vp-767 {
    min-height: 180px;
    padding: 24px 15px;
  }
}

.callback-form__checkbox {
  order: 2;

  @include vp-1023 {
    padding-bottom: 2px;
  }

  @include vp-767 {
    padding-bottom: 0;
    padding-left: 5px;
  }
}

.callback-form__checkbox label {
  position: relative;

  display: flex;
  align-items: center;

  font-family: "PT Mono", "Courier New", monospace;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  opacity: 0.8;

  cursor: pointer;

  &::before {
    content: "";

    display: block;
    flex-shrink: 0;

    width: 15px;
    height: 15px;
    margin-right: 10px;

    background: transparent;
    border: 1px solid $color-default-white;
    border-radius: 2px;

    @include vp-1023 {
      transform: translateY(-1px);
    }
  }
}

.callback-form__checkbox input:checked + label {
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 2.5px;
    transform: translateY(-50%);

    width: 9px;
    height: 6px;

    background-image: url("../img/svg/checked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include vp-1023 {
      transform: translateY(calc(-50% - 2px));
    }
  }
}

.callback-form__checkbox input:hover + label,
.callback-form__checkbox input:focus + label {
  &::before {
    outline: 1px solid $color-default-black;
    outline-offset: 1px;
  }
}
