.callback {
  position: relative;

  padding-top: 166px;
  padding-bottom: 250px;

  background-color: $color-deep-sky-blue;

  overflow: hidden;

  @include vp-1023 {
    padding-top: 46px;
    padding-bottom: 127px;
  }

  @include vp-767 {
    padding-bottom: 89px;
  }
}

.callback__content {
  display: grid;
  grid-template-columns: 1fr 590px;

  @include vp-1023 {
    grid-template-columns: auto;
  }
}

.callback__form {
  position: relative;
  z-index: 2;

  grid-column: 2 / -1;

  @include vp-1023 {
    grid-column: auto;
  }
}

.callback__background {
  position: absolute;
  top: -50px;
  right: 46.25%;
  bottom: -50px;
  left: -50px;

  clip-path: polygon(100% 0, 0 0, 0 99%);

  background-color: $color-black-pearl-50;

  @include vp-1023 {
    display: none;
  }
}

.callback__plane {
  position: absolute;
  top: calc(50% - 20.8%);
  left: calc(50% - 31.9%);

  width: 26.6vw;
  aspect-ratio: 34/19;

  background-image: url("../img/plane.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @supports (background-image: image-set(url("../img/plane.webp") 1x)) {
    background-image: image-set(url("../img/plane.webp") 1x);
  }

  @include retina {
    background-image: url("../img/plane@2x.jpg");

    @supports (background-image: image-set(url("../img/plane@2x.webp") 2x)) {
      background-image: image-set(url("../img/plane@2x.webp") 2x);
    }
  }

  @include vp-1279 {
    top: calc(50% - 11%);
    left: calc(50vw - 44%);
  }

  @include vp-1023 {
    display: none;
  }
}
