.services {
  padding-top: 64px;
  padding-bottom: 140px;

  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-top: 54px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 86px;
  }
}

.services__content p {
  margin: 0;
  margin-bottom: 54px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 37px;
  }

  @include vp-767 {
    margin-bottom: 29px;

    font-size: 28px;
    line-height: 39px;
  }
}

.services__content p .long {
  @include vp-767 {
    display: none;
  }
}

.services__content p .short {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.services__content ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.97%;
  row-gap: 6.97%;
  margin: 0;
  padding: 0;

  list-style: none;

  @include vp-1023 {
    grid-template-columns: auto;
    row-gap: 30px;
  }
}

.services__content a {
  position: relative;

  display: block;
  width: 100%;
  aspect-ratio: 7/13;
  padding: 47px 40px 50px;

  background-color: $color-tangaroa;
  background-image: url("../img/services.jpg");
  background-repeat: no-repeat;
  background-size: 1493px 817px;

  transition: $trans-default;

  @supports (background-image: image-set(url("../img/services.webp") 1x)) {
    background-image: image-set(url("../img/services.webp") 1x);
  }

  @include retina {
    background-image: url("../img/services@2x.jpg");

    @supports (background-image: image-set(url("../img/services@2x.webp") 2x)) {
      background-image: image-set(url("../img/services@2x.webp") 2x);
    }
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $color-black-pearl-50;
  }

  &::after {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    width: 60px;
    height: 60px;

    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5px 10px;
    border-radius: 3px 0 0 0;

    transition: $trans-default;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px $color-default-black-25;

    &::after {
      background-color: $color-deep-sky-blue-70;
    }
  }

  @include vp-1023 {
    min-height: 250px;
    aspect-ratio: auto;
    padding: 38px 45px;
  }

  @include vp-767 {
    padding: 26px 30px;
  }
}

.services__link--1 {
  background-position: calc(50% + 383px) calc(50% - 32px);

  @include vp-1023 {
    background-position: calc(50% + 168px) calc(50% - 264px);
  }

  @include vp-767 {
    background-position: calc(50% + 236px) calc(50% - 15px);
  }
}

.services__link--2 {
  background-position: calc(50% + 38px) calc(50% - 37px);

  @include vp-1023 {
    background-position: calc(50% - 216px) calc(50% - 30px);
  }

  @include vp-767 {
    background-position: calc(50% + 246px) calc(50% - 253px);
  }
}

.services__link--3 {
  background-position: calc(50% - 322px) calc(50% - 26px);

  @include vp-1023 {
    background-position: calc(50% + 264px) calc(50% - 75px);
  }

  @include vp-767 {
    background-position: calc(50% - 272px) calc(50% - 110px);
  }
}

.services__content h3 {
  position: relative;

  max-width: 170px;
  margin: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
  }
}
